

html, body {
    height: 100%;
    margin: 0;
    font-size: 20px;
}

body {
    background-color: #ddfcf3;
    font-family: "Comic Sans MS", cursive;
}

h1 {
    color: #184e77;
}

h2 {
    color: #1e6091;
    font-size: 2rem;
    text-align: center;
}

p, li {
    color: #1a759f;
}

#main-intro {
    font-size: 5rem;
    text-align: center;

}

#hint {
    text-align: center;
}

.details-container {
    display: flex;
}

.details-container details {
    width: 50%;
    padding-left: 20px;
    background-color: white;
}

summary::marker {
    content: "";
}

.slideshow-container {
    position: relative;
    margin: auto;
    justify-content: center;
}

.mySlides {
  display: none;
}

img {
    width: 80%;
    display: block;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 20px;
    padding: 20px;
    color: #1a759f;
    background-color: white;
    font-size: 1rem;
}

.next {
    right: 0;

}

.caption {
    position: aboslute;
    padding-bottom: 40px;

    width: 100%;
    text-align: center;
}

footer {
    margin: 20px;
}

#basketball {
    cursor: pointer;
    position: relative;
    max-height: 100px;
    max-width: 100px;
}

@keyframes dribblingAnimation {
    0% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    30% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
    }
}

.dribbling {
    animation: dribblingAnimation 1s cubic-bezier(0.2, 0.8, 0.4, 1.2) forwards;
}